<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ConsoleApp2.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.serviceModel>
        <bindings />
        <client />
    </system.serviceModel>
  <connectionStrings>
    <add name="malwrConnectionString" connectionString="Data Source=WIN-1K9HLEFOQCT;Initial Catalog=malwr;Integrated Security=True;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <applicationSettings>
    <ConsoleApp2.Properties.Settings>
      <setting name="CodeTest_Submit_Submit" serializeAs="String">
        <value>http://www.malwarefypj.com/webservice/Submit.asmx</value>
      </setting>
    </ConsoleApp2.Properties.Settings>
  </applicationSettings>
</configuration>